<!-- Section: Contact v.1 -->
<section class="my-5">

  <!-- Section heading -->
  <h2 class="h1-responsive  text-center my-5 font-body">Contactános</h2>
  <!-- Section description -->
  <h3 class="font-body text-center w-responsive mx-auto pb-5">Envianos un comentario en el caso de querer información acerca de nuestros productos... ¿dudas?... ¿sugerencias?, por favor contáctanos,
    estamos para escucharte.</h3>

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-lg-5 mb-lg-0 mb-4">

      <!-- Form with header -->

      <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
          <div class="wrap-input100 validate-input" data-validate="Please enter your name" style="max-width: 750px;">
            <input formControlName="nombre" id="nombre"  class="input100" type="text" placeholder="Nombre completo">
              <span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Please enter email: e@a.x" style="max-width: 750px;">
            <input formControlName="correo" id="correo" class="input100" type="text" placeholder="Correo">
              <span class="focus-input100"></span>
          </div>

          <div class="wrap-input100 validate-input" data-validate = "Please enter email: e@a.x" style="max-width: 750px;">
						<select class="select100"  formControlName="idMunicipio" id="idMunicipio" placeholder="Municipio" style="flex-basis: auto">
              <option *ngFor="let idMunicipio of municipios" [value]="idMunicipio"  selected>{{idMunicipio}}</option>
            </select>
              <span class="focus-input100"></span>
          </div>

          <div class="wrap-input100 validate-input" data-validate = "Please enter email: e@a.x" style="max-width: 750px;">
						<select class="select100" formControlName="idEstado" id="idEstado" placeholder="Estado">
              <option *ngFor="let idEstado of estados" [value]="idEstado"  selected>{{idEstado}}</option>
            </select>
              <span class="focus-input100"></span>
          </div>

          <div class="wrap-input100 validate-input" data-validate = "Please enter email: e@a.x" style="max-width: 750px;">
						<input class="input100" type="text" formControlName="cp" id="cp"  placeholder="Codigo postal">
              <span class="focus-input100"></span>
          </div>

          <div class="wrap-input100 validate-input" data-validate = "Please enter email: e@a.x" style="max-width: 750px;">
						<select class="select100" type="text" formControlName="requestType" id="requestType" placeholder="Tipo de ayuda">
              <option *ngFor="let requestType of requestTypes" [value]="requestType" selected>{{requestType}}</option>
            </select>
              <span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Please enter your message" style="max-width: 750px;">
						<textarea class="input100" formControlName="mensaje" id="mensaje"  placeholder="Escribe tu mensaje"></textarea>
              <span class="focus-input100"></span>
					</div>


					<div class="container-contact100-form-btn">
						<button class="contact100-form-btn">
							Enviar
						</button>
					</div>
        </form>


      <!-- Form with header -->


    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-7">

      <!--Google map-->
      <div id="map-container-section" class="z-depth-1-half map-container-section mb-4" style="height: 400px">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3774.751194088798!2d-96.94993968468846!3d18.898115862449597!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85c4e557c8872711%3A0x6c38a45d6d90ddaa!2sAgroKrebs!5e0!3m2!1ses-419!2smx!4v1600700595352!5m2!1ses-419!2smx" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0">
        </iframe>
      </div>
      <!-- Buttons-->
      <div class="row text-center">
      <h3 class="font-body">Conoce nuestra ubicación.</h3>
      </div>

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</section>
<!-- Section: Contact v.1 -->
