<!-- Section: Contact v.1 -->
<section class="my-5">

  <!-- Section heading -->
  <h2 class="h1-responsive  text-center my-5 font-body">Credito con Agro Krebs</h2>
  <!-- Section description -->
  <h3 class="font-body text-center w-responsive mx-auto pb-5">Solicita tu línea de crédito con Agro Krebs por un monto de: ¡Hasta por
    $500,000.00 y un plazo máximo de hasta 60 días!! Postuláte con el envio de los siguientes papeles y llena el formulario.</h3>

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-lg-5 mb-lg-0 mb-4">

     <!-- Form with header -->
      <form [formGroup]="creditForm" (ngSubmit)="saveCredit(creditForm.value)">
        <div class="wrap-input100 validate-input" style="max-width: 750px;">
          <input formControlName="nombre" class="input100" type="text"  [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }" placeholder="Nombre completo">
          <div *ngIf="submitted && f.nombre.errors" class="invalid-feedback">
            <div *ngIf="f.nombre.errors.required">Es requerido llenar el nombre</div>
          </div>
        </div>

        <div class="wrap-input100 validate-input" style="max-width: 750px;">
          <input formControlName="correo"  class="input100" type="text" [ngClass]="{ 'is-invalid': submitted && f.correo.errors }" placeholder="Correo">
          <div *ngIf="submitted && f.correo.errors" class="invalid-feedback">
            <div *ngIf="f.correo.errors.required">Es requerido llenar el correo</div>
         </div>
        </div>

        <div class="wrap-input100 validate-input" style="max-width: 750px;">
          <select class="select100"  formControlName="municipio" [ngClass]="{ 'is-invalid': submitted && f.municipio.errors }" placeholder="Municipio" style="flex-basis: auto">
            <option *ngFor="let municipio of municipios" [value]="municipio"  selected>{{municipio}}</option>
          </select>
          <div *ngIf="submitted && f.municipio.errors" class="invalid-feedback">
            <div *ngIf="f.municipio.errors.required">Es requerido llenar el Municipio</div>
        </div>
        </div>

        <div class="wrap-input100 validate-input" style="max-width: 750px;">
          <select class="select100" formControlName="estado"  [ngClass]="{ 'is-invalid': submitted && f.estado.errors }" placeholder="Estado">
            <option *ngFor="let estado of estados" [value]="estado"  selected>{{estado}}</option>
          </select>
          <div *ngIf="submitted && f.estado.errors" class="invalid-feedback">
            <div *ngIf="f.estado.errors.required">Es requerido llenar el Estado</div>
        </div>
        </div>

        <div class="wrap-input100 validate-input"style="max-width: 750px;">
          <input class="input100" type="text" formControlName="cp"  [ngClass]="{ 'is-invalid': submitted && f.cp.errors }"  placeholder="Codigo postal">
          <div *ngIf="submitted && f.cp.errors" class="invalid-feedback">
            <div *ngIf="f.cp.errors.required">Es requerido llenar el Código postal</div>
          </div>
        </div>

      <!--  <div class="wrap-input100 validate-input" style="max-width: 750px;">
          <select class="select100" type="text" formControlName="requestType" placeholder="Tipo de ayuda">
            <option *ngFor="let requestType of requestTypes" [value]="requestType" selected>{{requestType}}</option>
          </select>
          <div *ngIf="submitted && f.requestType.errors" class="invalid-feedback">
            <div *ngIf="f.requestType.errors.required">Es requerido llenar el tipo de contacto</div>
          </div>
        </div>-->
      <!--
        <div class="row">
          <br />
              <div class="form-check" style="margin-left: 75px;">
                <mdb-checkbox formControlName="acceptTerm" class="form-check-input"  [ngClass]="{ 'is-invalid': submitted && f.acceptTerm.errors }"></mdb-checkbox>
                <label class="form-check-label" for="exampleCheck1">Acepta nuestros términos y condiciones.</label>
                  <div *ngIf="submitted && f.acceptTerm.errors" class="invalid-feedback">
                    <div *ngIf="f.acceptTerm.errors.required">Necesitas aceptar los términos y condiciones.</div>
                  </div>
              </div>
        </div>-->
        <br />
        <br />
        <div class="wrap-input100 validate-input">
          <center>
            <button class="contact100-form-btn" type="reset" (click)="onReset()" style="width:50%;">
              Cancelar
            </button>
          </center>
        </div>
        <div class="wrap-input100 validate-input">
          <center>
            <button class="contact100-form-btn" type="submit" style="width:50%; margin-top: 10px;">
              Enviar
            </button>
          </center>
        </div>
      </form>

      <!-- Form with header -->


    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-7">

      <!--Google map-->
      <div id="map-container-section" class="z-depth-1-half map-container-section mb-4" style="height: 750px; width: 1230px;">
        asdas
      </div>
      <!-- Buttons-->

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</section>
<!-- Section: Contact v.1 -->

