    <mdb-carousel [animation]="'slide'" style="width: 2620px; height: 800px;">
      <mdb-carousel-item>
        <img class="d-block w-100" src="../../../assets/Cafe.1.png" alt="First slide"  width="500px">
      </mdb-carousel-item>
      <mdb-carousel-item>
        <img class="d-block w-100" src="../../../assets/Cafe.2.png" alt="Second slide"  width="600px">
      </mdb-carousel-item>
      <mdb-carousel-item>
        <img class="d-block w-100" src="../../../assets/Cafe.3.png" alt="Third slide"  width="600px">
      </mdb-carousel-item>
      <mdb-carousel-item>
        <img class="d-block w-100" src="../../../assets/Cafe.5.png" alt="Third slide"  width="600px">
      </mdb-carousel-item>
      <mdb-carousel-item>
        <img class="d-block w-100" src="../../../assets/Cafe.6.png" alt="Third slide"  width="600px">
      </mdb-carousel-item>
      <mdb-carousel-item>
        <img class="d-block w-100" src="../../../assets/Cafe.6.png" alt="Third slide"  width="600px">
      </mdb-carousel-item>
    </mdb-carousel>
  <br />

              <div class="example-container" style="float: left; width: 100%;">
                      <div class="row" style="height: 450px; ">
                        <div style="width: 1520px;height: 350px; margin:auto; margin-top: 55px; border-radius: 10px;" class="div-img">
                          <h1 class="landing-title wrapper-inner t-t:u">CONOCE NUESTROS PRODUCTOS</h1>
                        </div>
                        <div class="landing-sidebar">
                          <div class="paragraph paragraph--type--sidebar paragraph--view-mode--default">
                                <h3 class="content1-cta">Descarga nuestro catálogo</h3>
                              <div class="container">
                                <div class="row" style="height: 20px;">
                                </div>
                                <div class="row">
                                  <button type="button" class="btn-catalogo" style="width: 480px;">Catálogo 2020</button>
                                </div>
                              </div>
                        </div>
                      </div>
              </div>
              </div>

              <div class="example-container" style="float: left; width: 100%; margin-top: 120px;">
                <div class="row" style="border:solid; height: 450px;">

                  <div class="col-12" style="margin-top: 20px;margin-left: 20px;">
                    <button style="width: 380px;height: 155px;border-radius: 5px;" class="button-shadow">Adherentes</button>
                    <button style="width: 380px;height: 155px;border-radius: 5px;" class="button-shadow">Fertilizantes hidrosolubles</button>
                    <button style="width: 380px;height: 155px;border-radius: 5px;" class="button-shadow">Fertilizantes liquidos</button>
                    <button style="width: 380px;height: 155px;border-radius: 5px;" class="button-shadow">Reguladores de crecimienito</button>
                  </div>
                </div>
              </div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />


