<div style="margin-top: 65px;">
    <div class="row">
      <div class="col" style="background-color: aqua;">

      </div>
      <div class="col"  style="background-color: aqua;">
        <img src="../../../assets/C-H.png" style="height: 650px;">
      </div>
      <div class="col"  style="background-color: aqua;">
        <div style="margin-top: 400px; margin-left: 20px; text-align: left;">
          <span><h1>Empresa 100% Mexicana</h1></span>
        </div>
        <div style="margin-left: 20px;  text-align: left;">
          <span>FERTILIZANTES LIQUIDOS, HIDROSOLUBLES, REGULADORES DE CRECIMIENTO, ADHERENTES.</span>
        </div>
      </div>
    </div>
  </div>
  <div style="background-color: aqua;">
    <span>
      <h4>
        AGROKREBS: Es una empresa 100% mexicana dedicada al desarrollo y comercialización de nutrientes activados,<br />
        enfocados a mejorar la calidad de las cosechas y aumentar la productividad en el agro mexicano.
      </h4>
    </span>
  </div>



