<div style="margin-top: 65px;">
  <div style="background-color: aqua; height: 150px;">
    <p>galeria works!</p>
  </div>
</div>
<!-- Grid row -->
<div class="gallery" id="gallery">

  <!-- Grid column -->
  <div class="mb-3 pics animation all 2">
    <img class="img-fluid" src="../../../assets/Banano.1.png" alt="Card image cap">
  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="mb-3 pics animation all 1">
    <img class="img-fluid" src="../../../assets/Brocoli.2.png" alt="Card image cap">
  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="mb-3 pics animation all 1">
    <img class="img-fluid" src="../../../assets/Cafe.2.png" alt="Card image cap">
  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="mb-3 pics animation all 2">
    <img class="img-fluid" src="../../../assets/Col.1.png" alt="Card image cap">
  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="mb-3 pics animation all 1">
    <img class="img-fluid" src="../../../assets/Lechuga.png" alt="Card image cap">
  </div>
  <!-- Grid column -->

   <!-- Grid column -->
   <div class="mb-3 pics animation all 2">
    <img class="img-fluid" src="../../../assets/Limon.png" alt="Card image cap">
  </div>
  <!-- Grid column -->

   <!-- Grid column -->
   <div class="mb-3 pics animation all 1">
    <img class="img-fluid" src="../../../assets/Moco_de_pavo.png" alt="Card image cap">
  </div>
  <!-- Grid column -->

   <!-- Grid column -->
   <div class="mb-3 pics animation all 2">
    <img class="img-fluid" src="../../../assets/Papaya.png" alt="Card image cap">
  </div>
  <!-- Grid column -->

   <!-- Grid column -->
   <div class="mb-3 pics animation all 1">
    <img class="img-fluid" src="../../../assets/Pepino.png" alt="Card image cap">
  </div>
  <!-- Grid column -->

   <!-- Grid column -->
   <div class="mb-3 pics animation all 1">
    <img class="img-fluid" src="../../../assets/ZA1.png" alt="Card image cap">
  </div>
  <!-- Grid column -->

   <!-- Grid column -->
   <div class="mb-3 pics animation all 2">
    <img class="img-fluid" src="../../../assets/PE1.png" alt="Card image cap">
  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="mb-3 pics animation all 2">
      <img class="img-fluid" src="../../../assets/Jito.1.png" alt="Card image cap">
  </div>
    <!-- Grid column -->

</div>
<!-- Grid row -->
