<div>
  <ul>
    <li>
      <img src="../../../assets/IMG_0250.JPG" alt="A Toyota Previa covered in graffiti" loading="lazy" style="transition: filter 0.5s;">
    </li>
    <li>
      <img src="../../../assets/IMG_1514.JPG" alt="Interesting living room light through a window" loading="lazy">
    </li>
    <li>
      <img src="../../../assets/IMG_1669.JPG" alt="Sara on a red bike" loading="lazy">
    </li>
    <li>
      <img src="../../../assets/Banano.3.png" alt="XOXO venue in between talks" loading="lazy">
    </li>
    <li>
      <img src="../../../assets/Banano.4.png" alt="Trees lit by green light during dusk" loading="lazy">
    </li>
    <li>
      <img src="../../../assets/Banano.6.png" alt="Portrait of Justin Pervorse" loading="lazy">
    </li>
    <li>
      <img src="../../../assets/IMG_1671.JPG" alt="Empty bike racks outside a hotel" loading="lazy">
    </li>
    <li>
      <img src="../../../assets/Brocoli.1.png" alt="Heavy rain on an intersection" loading="lazy">
    </li>
    <li>
      <img src="../../../assets/IMG_0250.JPG" alt="Payam Rajabi eating peanut chicken" loading="lazy">
    </li>
    <li>
      <img src="../../../assets/IMG_1669.JPG" alt="Portland skyline sunset" loading="lazy">
    </li>
    <li>
      <img src="../../../assets/IMG_1705.JPG" alt="Interior at Nong's" loading="lazy">
    </li>
    <li>
      <img src="../../../assets/IMG_1706.JPG" alt="A kimchi hotdog on a plate" loading="lazy">
    </li>
    <li>
      <img src="../../../assets/IMG_1709.JPG" alt="Restaurant window with graffiti saying 'water'" loading="lazy">
    </li>
    <li>
      <img src="../../../assets/IMG_1712.JPG" alt="Portrait of Jeremy Tanner" loading="lazy">
    </li>
    <li>
      <img src="../../../assets/IMG_1713.JPG" alt="Jordan, Sarah and Sara on red bikes, waiting" loading="lazy">
    </li>
    <li>
      <img src="../../../assets/IMG_1671.JPG" alt="Barista wearing a hoodie saying 'Coffee Should Be Dope.'" loading="lazy">
    </li>
    <li>
      <img src="../../../assets/IMG_1963.JPG" alt="Payam crossing the street on a bike" loading="lazy">
    </li>
    <li>
      <img src="../../../assets/IMG_1964.JPG" alt="Lit trees reflected in a puddle" loading="lazy">
    </li>
    <li>
      <img src="../../../assets/PE3.png" alt="Moody chair in my hotel room" loading="lazy">
    </li>
    <li>
      <img src="../../../assets/PE2.png" alt="Tom and Jenn wearing sunglasses" loading="lazy">
    </li>
    <li>
      <img src="../../../assets/IMG_2040.JPG" alt="Jordan and Sarah in front of a restaurant window" loading="lazy">
    </li>
    <li>
      <img src="../../../assets/IMG_2675.JPG" alt="Sarah reading the Double Dragon drink menu" loading="lazy">
    </li>
    <li>
      <img src="../../../assets/IMG_2676.JPG" alt="Beer brewing equipment" loading="lazy">
    </li>
    <li>
      <img src="../../../assets/IMG_2677.JPG" alt="2 cocktails in the making" loading="lazy">
    </li>
    <li>
      <img src="../../../assets/IMG_2689.JPG" alt="Beverage fridge at Nong's" loading="lazy">
    </li>
    <li>
      <img src="../../../assets/IMG_2785.JPG" alt="Wood structure reflections" loading="lazy">
    </li>
    <li>
      <img src="../../../assets/IMG_2792.JPG" alt="Colorful garden equipment in a shop window" loading="lazy">
    </li>
    <li>
      <img src="../../../assets/IMG_2794.JPG" alt="Sarah in front of a wooden wall" loading="lazy">
    </li>
    <li>
      <img src="../../../assets/IMG_2808.JPG" alt="A neon banana" loading="lazy">
    </li>
    <li>
      <img src="../../../assets/IMG_2809.JPG" alt="Matt Sacks smiling while we're waiting for food" loading="lazy">
    </li>
    <li>
      <img src="../../../assets/IMG_2823.JPG" alt="A fixed-gear bike under some bright lights" loading="lazy">
    </li>
    <li>
      <img src="../../../assets/IMG_2866.JPG" alt="Panic's PlayDate being held by a tester" loading="lazy">
    </li>
    <li>
      <img src="../../../assets/IMG_2868.JPG" alt="Window reflection of me and Payam" loading="lazy">
    </li>
    <li>
      <img src="../../../assets/IMG_2872.JPG" alt="Upside down shopping carts" loading="lazy">
    </li>
    <li>
      <img src="../../../assets/IMG_2970.JPG" alt="Payam riding a bike with no hands" loading="lazy">
    </li>
    <li>
      <img src="../../../assets/IMG_1671.JPG" alt="A kid's pillow left on the bench of a bus stop" loading="lazy">
    </li>
    <li>
      <img src="../../../assets/PA1.png" alt="My reflection in the mirror" loading="lazy">
    </li>
    <li>
      <img src="../../../assets/PA2.png" alt="Jordan holding an iced coffee against his head to cool down" loading="lazy">
    </li>
    <li>
      <img src="../../../assets/PA3.png" alt="Jordan and Sarah looking at the menu in a coffee shop" loading="lazy">
    </li>
    <li>
      <img src="../../../assets/PA4.png" alt="Jordan and Sarah looking at the menu in a coffee shop" loading="lazy">
    </li>
    <li>
      <img src="../../../assets/PA2.png" alt="Jordan holding an iced coffee against his head to cool down" loading="lazy">
    </li>
    <li>
      <img src="../../../assets/PA3.png" alt="Jordan and Sarah looking at the menu in a coffee shop" loading="lazy">
    </li>
    <!--  Adding an empty <li> here so the final photo doesn't stretch like crazy. Try removing it and see what happens!  -->
    <li></li>
  </ul>
</div>
