<!-- Footer -->
<footer class="{{footerStyle}}">
    <!-- Footer Text -->
    <div class="{{footerText}}">
      <!-- Grid row -->
      <div class="{{gridRow}}">
        <!-- Grid column -->
        <div class="col-md-4 mt-md-0 mt-3">
          <!-- Content -->
          <center>
              <h5 class="text-uppercase font-weight-bold">Ubicación</h5>
              <mdb-icon fas icon="map-marked-alt" class="fa-2x"></mdb-icon>
                <p>Av 11 2402D, Nuevo San Jose,</p>
                <p>94560 Córdoba, Ver.</p>
            </center>
        </div>
        <!-- Grid column -->
        <hr class="clearfix w-100 d-md-none pb-3">
        <!-- Grid column -->
        <div class="col-md-4 mb-md-0 mb-3">
          <!-- Content -->
          <center>
              <h5 class="text-uppercase font-weight-bold">Correo</h5>
              <mdb-icon fas icon="envelope" class="fa-2x"></mdb-icon>
              <br />
                <p>atencionaclientes@agrokrebs.mx</p>
            </center>
        </div>
        <!-- Grid column -->
        <div class="col-md-4 mb-md-0 mb-3">
          <!-- Content -->
          <center>
              <h5 class="text-uppercase font-weight-bold">Telefono</h5>
              <mdb-icon fas icon="phone-alt" class="fa-2x"></mdb-icon>
              <br />
                <p>+(52)271 688 3997</p>
            </center>

        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
    <!-- Footer Text -->
  <!-- Footer Elements -->
  <div class="container">
   <!-- Social buttons -->
   <ul class="list-unstyled list-inline text-center">
    <li class="list-inline-item">
      <a class="btn-floating btn-fb mx-1">
        <i class="fab fa-facebook-f"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-tw mx-1">
        <i class="fab fa-twitter"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-gplus mx-1">
        <i class="fab fa-google-plus-g"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-li mx-1">
        <i class="fab fa-linkedin-in"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-dribbble mx-1">
        <i class="fab fa-dribbble"> </i>
      </a>
    </li>
  </ul>
  <!-- Social buttons -->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://github.com/111gilberth">@Annoxrooth</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

